In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.metrics import confusion_matrix
from statsmodels.graphics.mosaicplot import mosaic
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import r2_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [4]:
creditcard_df = pd.read_csv('Credit_Card.csv')
label_df = pd.read_csv('Credit_card_label.csv')
creditcard_df = pd.concat([creditcard_df, label_df], axis=1)
creditcard_df.dropna(inplace=True)
creditcard_df.dropna(axis=1, inplace=True)
creditcard_df

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,Ind_ID,label
8,5010864,M,Y,Y,1,450000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-18173.0,-678,1,0,1,1,Core staff,3,5010864,1
9,5010868,M,Y,Y,1,450000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-18173.0,-678,1,0,1,1,Core staff,3,5010868,1
10,5010869,M,Y,Y,1,450000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-18173.0,-678,1,0,1,1,Core staff,1,5010869,1
11,5018498,F,Y,Y,0,90000.0,Working,Secondary / secondary special,Married,House / apartment,-18950.0,-1002,1,1,1,0,Cooking staff,2,5018498,1
13,5018503,F,Y,Y,0,90000.0,Working,Secondary / secondary special,Married,House / apartment,-18950.0,-1002,1,1,1,0,Cooking staff,2,5018503,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,5024049,F,Y,Y,1,144000.0,Working,Higher education,Married,House / apartment,-12903.0,-2924,1,0,0,0,Accountants,3,5024049,0
1542,5118268,M,Y,N,1,360000.0,State servant,Secondary / secondary special,Married,House / apartment,-11294.0,-3536,1,0,1,0,Drivers,3,5118268,0
1544,5023655,F,N,N,0,225000.0,Commercial associate,Incomplete higher,Single / not married,House / apartment,-10229.0,-1209,1,0,0,0,Accountants,1,5023655,0
1545,5115992,M,Y,Y,2,180000.0,Working,Higher education,Married,House / apartment,-13174.0,-2477,1,0,0,0,Managers,4,5115992,0
1546,5118219,M,Y,N,0,270000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-15292.0,-645,1,1,1,0,Drivers,2,5118219,0

In [24]:
#Question 1
LabelEncoder = LabelEncoder()
def encoding(column):
    column = LabelEncoder.fit_transform(creditcard_df[column].values)

encoding('GENDER')
encoding('Car_Owner')
encoding('Propert_Owner')
encoding('Type_Income')
encoding('EDUCATION')
encoding('Marital_status')
encoding('Housing_type')
encoding('Type_Occupation')
creditcard_df

,Ind_ID,GENDER,Car_Owner,Propert_Owner,CHILDREN,Annual_income,Type_Income,EDUCATION,Marital_status,Housing_type,Birthday_count,Employed_days,Mobile_phone,Work_Phone,Phone,EMAIL_ID,Type_Occupation,Family_Members,Ind_ID,label
8,5010864,1,1,1,1,450000.0,0,3,1,1,-18173.0,-678,1,0,1,1,3,3,5010864,1
9,5010868,1,1,1,1,450000.0,1,3,1,1,-18173.0,-678,1,0,1,1,3,3,5010868,1
10,5010869,1,1,1,1,450000.0,0,3,3,1,-18173.0,-678,1,0,1,1,3,1,5010869,1
11,5018498,0,1,1,0,90000.0,3,3,1,1,-18950.0,-1002,1,1,1,0,2,2,5018498,1
13,5018503,0,1,1,0,90000.0,3,3,1,1,-18950.0,-1002,1,1,1,0,2,2,5018503,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1540,5024049,0,1,1,1,144000.0,3,0,1,1,-12903.0,-2924,1,0,0,0,0,3,5024049,0
1542,5118268,1,1,0,1,360000.0,2,3,1,1,-11294.0,-3536,1,0,1,0,4,3,5118268,0
1544,5023655,0,0,0,0,225000.0,0,1,3,1,-10229.0,-1209,1,0,0,0,0,1,5023655,0
1545,5115992,1,1,1,2,180000.0,3,0,1,1,-13174.0,-2477,1,0,0,0,10,4,5115992,0
1546,5118219,1,1,0,0,270000.0,3,3,0,1,-15292.0,-645,1,1,1,0,4,2,5118219,0

In [5]:
#Question 2
x = creditcard_df.drop('label', axis = 1)
y = creditcard_df['label']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state = 42)
knn = KNeighborsClassifier(n_neighbors=13) 
knn.fit(x_train, y_train) 
y_pred = knn.predict(x_test)
print(y_pred)
print(type(y_pred))

ValueError: could not convert string to float: 'M'