# warmup

In [1]:
import pandas as pd
import numpy as np

In [5]:
loans_df = pd.read_csv('loans_full_schema.csv')
loans_df.head(50)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.330000,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.120000,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.800000,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.890000,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.650000,1569.85,754.80,0.0
5,NaN,NaN,KY,OWN,34000.0,Not Verified,6.46,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,4256.71,873.130000,743.29,129.84,0.0
6,hr,10.0,MI,MORTGAGE,35000.0,Source Verified,23.66,155000.0,Not Verified,13.12,...,C2,Jan-2018,Current,whole,Cash,22560.00,2730.510000,1440.00,1290.51,0.0
7,police,10.0,AZ,MORTGAGE,110000.0,Source Verified,16.19,NaN,NaN,NaN,...,B5,Jan-2018,Current,whole,Cash,19005.39,1765.840000,994.61,771.23,0.0
8,parts,10.0,NV,MORTGAGE,65000.0,Source Verified,36.48,NaN,NaN,NaN,...,C2,Feb-2018,Current,whole,Cash,18156.66,2703.220000,1843.34,859.88,0.0
9,4th person,3.0,IL,RENT,30000.0,Not Verified,18.91,NaN,NaN,NaN,...,A3,Mar-2018,Current,fractional,Cash,6077.13,391.150000,322.87,68.28,0.0
10,supervisor,10.0,IL,MORTGAGE,75000.0,Verified,10.45,NaN,NaN,NaN,...,C4,Mar-2018,Current,whole,Cash,24143.51,1764.950000,856.49,908.46,0.0
11,register nurse,2.0,FL,MORTGAGE,91900.0,Source Verified,1.82,NaN,NaN,NaN,...,B2,Mar-2018,Current,whole,Cash,38434.20,2500.840000,1565.80,935.04,0.0
12,respiratory therapist & sleep lab tech,5.0,SC,MORTGAGE,122000.0,Source Verified,12.06,NaN,NaN,NaN,...,C2,Feb-2018,Current,whole,Cash,14525.30,2204.880000,1474.70,730.18,0.0
13,senior inspector,10.0,CO,MORTGAGE,88000.0,Source Verified,3.67,NaN,NaN,NaN,...,B1,Feb-2018,Current,whole,DirectPay,16326.13,1060.470000,673.87,386.60,0.0
14,NaN,NaN,FL,MORTGAGE,17000.0,Verified,33.98,NaN,NaN,NaN,...,D3,Jan-2018,Current,whole,Cash,2744.21,454.360000,255.79,198.57,0.0
15,dental hygienist,10.0,TN,MORTGAGE,60000.0,Not Verified,38.46,NaN,NaN,NaN,...,D3,Feb-2018,Current,whole,Cash,19172.64,2023.740000,827.36,1196.38,0.0
16,NaN,NaN,NV,MORTGAGE,60000.0,Not Verified,31.22,NaN,NaN,NaN,...,D3,Jan-2018,Current,whole,Cash,11374.52,1532.080000,625.48,906.60,0.0
17,onsite medical,3.0,NV,RENT,72000.0,Source Verified,20.33,NaN,NaN,NaN,...,F1,Jan-2018,Current,whole,Cash,28798.08,4687.880000,1201.92,3485.96,0.0
18,operational risk manager,10.0,IL,MORTGAGE,210000.0,Verified,9.53,NaN,NaN,NaN,...,E5,Feb-2018,Fully Paid,fractional,Cash,0.00,5202.642672,5000.00,202.64,0.0
19,welder,1.0,CA,MORTGAGE,83000.0,Source Verified,18.44,NaN,NaN,NaN,...,C4,Jan-2018,Fully Paid,whole,Cash,0.00,20653.717722,20000.00,653.72,0.0
20,maintenance adm assistant,10.0,KY,MORTGAGE,50000.0,Not Verified,15.60,NaN,NaN,NaN,...,A2,Jan-2018,Current,fractional,Cash,6102.23,1063.690000,897.77,165.92,0.0
21,warranty administrator,1.0,NV,MORTGAGE,42000.0,Source Verified,32.00,95000.0,Source Verified,16.12,...,B5,Mar-2018,Current,whole,Cash,9296.37,989.490000,703.63,285.86,0.0
22,underwriter,5.0,NJ,MORTGAGE,100000.0,Not Verified,26.53,NaN,NaN,NaN,...,C2,Feb-2018,Current,whole,Cash,20045.30,1909.570000,1004.70,904.87,0.0
23,NaN,NaN,TX,MORTGAGE,40280.0,Verified,7.27,NaN,NaN,NaN,...,A3,Mar-2018,Current,whole,Cash,3323.42,223.710000,176.58,47.13,0.0
24,program analyst,10.0,VA,RENT,82000.0,Not Verified,17.31,NaN,NaN,NaN,...,A5,Mar-2018,Current,fractional,Cash,7403.61,744.570000,596.39,148.18,0.0
25,surveyor/cadd tech,7.0,PA,MORTGAGE,55000.0,Source Verified,14.42,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,17342.65,1205.330000,657.35,547.98,0.0
26,associated,1.0,NY,RENT,55000.0,Source Verified,13.68,NaN,NaN,NaN,...,B5,Mar-2018,Current,whole,Cash,9432.28,750.790000,567.72,183.07,0.0
27,inventory control specialist,5.0,IL,RENT,33000.0,Not Verified,19.38,NaN,NaN,NaN,...,A4,Feb-2018,Current,whole,Cash,2557.44,696.630000,642.56,54.07,0.0
28,inventory control,3.0,GA,RENT,60000.0,Not Verified,11.00,NaN,NaN,NaN,...,A1,Jan-2018,Current,whole,Cash,8704.48,1498.360000,1295.52,202.84,0.0
29,sr direct supoort professional,4.0,MO,MORTGAGE,48000.0,Source Verified,2.88,NaN,NaN,NaN,...,A2,Mar-2018,Current,whole,Cash,5540.54,544.140000,459.46,84.68,0.0
30,director of operations,4.0,CA,MORTGAGE,106000.0,Verified,26.25,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,10878.71,1600.150000,1121.29,478.86,0.0
31,hospitalist,3.0,TX,MORTGAGE,245000.0,Source Verified,24.90,NaN,NaN,NaN,...,B1,Feb-2018,Current,whole,Cash,37878.15,3334.660000,2121.85,1212.81,0.0
32,teacher,9.0,AR,MORTGAGE,50000.0,Verified,36.75,101000.0,Verified,20.92,...,D3,Feb-2018,Current,whole,Cash,18214.02,1922.540000,785.98,1136.56,0.0
33,controller,3.0,SC,MORTGAGE,80000.0,Source Verified,28.30,NaN,NaN,NaN,...,D4,Mar-2018,Current,whole,Cash,27169.59,2180.320000,830.41,1349.91,0.0
34,deputy,10.0,CA,MORTGAGE,140000.0,Not Verified,13.82,NaN,NaN,NaN,...,B2,Jan-2018,Fully Paid,whole,Cash,0.00,15005.166875,15000.00,5.17,0.0
35,armed protection officer,1.0,MD,OWN,70000.0,Source Verified,0.00,NaN,NaN,NaN,...,A2,Jan-2018,Fully Paid,whole,Cash,0.00,2409.049993,2400.00,9.05,0.0
36,driver,2.0,MD,RENT,45000.0,Source Verified,10.59,NaN,NaN,NaN,...,D5,Jan-2018,Current,fractional,Cash,8961.95,1871.520000,1038.05,833.47,0.0
37,supplies clerk,10.0,NJ,MORTGAGE,70000.0,Verified,17.06,105000.0,Verified,13.27,...,C4,Mar-2018,In Grace Period,whole,Cash,23455.27,1102.830000,544.73,558.10,0.0
38,loan consultant,2.0,PA,RENT,75000.0,Not Verified,18.53,NaN,NaN,NaN,...,B3,Jan-2018,Current,whole,Cash,8350.57,1531.100000,1149.43,381.67,0.0
39,bank coordinator,2.0,CA,RENT,53592.0,Source Verified,7.10,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,27196.39,3978.770000,2803.61,1175.16,0.0
40,NaN,NaN,MI,MORTGAGE,19000.0,Not Verified,24.79,43000.0,Not Verified,17.15,...,D2,Jan-2018,Current,whole,Cash,9465.30,1261.320000,534.70,726.62,0.0
41,senior recruiter,5.0,MD,RENT,90000.0,Source Verified,15.72,NaN,NaN,NaN,...,B5,Feb-2018,Current,whole,Cash,14254.01,1314.420000,745.99,568.43,0.0
42,reader advisor,10.0,VA,RENT,77000.0,Source Verified,14.82,NaN,NaN,NaN,...,C4,Jan-2018,Current,whole,Cash,33391.61,3275.750000,1608.39,1667.36,0.0
43,truck driver,2.0,TX,RENT,42000.0,Source Verified,25.89,NaN,NaN,NaN,...,C4,Feb-2018,Current,whole,Cash,9097.26,1379.240000,902.74,476.50,0.0
44,sales,4.0,TX,MORTGAGE,130000.0,Source Verified,13.51,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,38042.58,3581.440000,1957.42,1624.02,0.0
45,director of support services,10.0,NC,OWN,76300.0,Not Verified,10.71,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,13092.56,2295.000000,1907.44,387.56,0.0
46,rn,2.0,FL,MORTGAGE,190000.0,Not Verified,2.68,NaN,NaN,NaN,...,A3,Mar-2018,Current,whole,Cash,18991.05,1214.890000,1008.95,205.94,0.0
47,police recruit,0.0,TX,RENT,41000.0,Verified,25.70,NaN,NaN,NaN,...,C4,Feb-2018,Current,whole,Cash,4093.75,620.680000,406.25,214.43,0.0
48,lead teller,2.0,NE,RENT,30000.0,Not Verified,3.64,NaN,NaN,NaN,...,B2,Jan-2018,Current,whole,Cash,14947.68,1688.220000,1052.32,635.90,0.0
49,registered nurse,6.0,NC,MORTGAGE,88000.0,Source Verified,17.24,NaN,NaN,NaN,...,B3,Jan-2018,Current,whole,Cash,9036.27,1292.810000,963.73,329.08,0.0

# Notes

Probability is how likely something is to occur.
<br>
A random variable is one where the possible outcomes are a function of random phenomena (the probability for any event is between 0 and 1) and the summation of all probabilities = 1
<br>
Random seeds make sure the results are repeatable across machines.
<br>
Computers are not truly random, instead using seeds to create pseudorandomness.

Discrete vs continuous
<br>
Discrete is specific outcomes (like integer), continuous is infinitely many outcomes within a range (infinitely many decimal)

Uniform distribution: All outcomes have the same probability

Binomial distribution: symmetric, bell curve, etc

Normal/gaussian distribution: the peak in the middle is high probability, the low line is low probability

Expected value:
<br>
Law of large numbers: as the sample size increases the sample mean gets closer to the population mean
<br>
Uniform distribution: for a random variable, expected value is (a+b)/2, where a is the max possible and b is the min
<br>
Binomial distribution: mean is the expected value, which is equal to n trials * p probability
<br>
Standard normal distribution: mean is the expected value

Q1: What is the point of creating a random seed in probability?
<br>
A1: It allows you to replicate the results of a variable across different machines, since computers are not truly random and rely on these seeds for pseudorandomness.
<br>
Q2: What is the expected value for the number of heads in 50 trials of coin tosses?
<br>
A2: 25

### What is machine learning?

the study of computer algorithms that improve automatically through experience and by the use of data. uses statistics to find patterns in massive amounts of data. the concept that a computer program can learn and adapt to new data without human intervention.

## Preprocessing
1. clean up null value
2. data cleaning (dashes, odd characters, missing, outliers)
3. one-hot encoding
4. convert categorical values to numerical
5. standardization
6. deal with multicollinearity (a value influenced by multiple factors)

## Feature engineering
1. definition: selecting variables that are the best predictors

## cross validation
definition: test the performance of a machine learning model

# data cleaning

In [9]:
data_df = pd.read_csv('JEOPARDY_DATA.csv')
data_df.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,12/31/2004,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,12/31/2004,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,12/31/2004,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,12/31/2004,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,12/31/2004,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [13]:
data_df.columns = data_df.columns.str.replace(" ","")
data_df.columns

Index(['ShowNumber', 'AirDate', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [14]:
data_df.dtypes

ShowNumber     int64
AirDate       object
Round         object
Category      object
Value         object
Question      object
Answer        object
dtype: object

In [16]:
#mm/dd/yyyy is the current order before we process
data_df['AirDate'] = pd.to_datetime(data_df['AirDate'], format='%m/%d/%Y')
data_df.head()

,ShowNumber,AirDate,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [18]:
#assign is used to assign a new column
data_df = data_df.assign(month = lambda x : x['AirDate'].dt.month)
data_df.head()

,ShowNumber,AirDate,Round,Category,Value,Question,Answer,month
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,12
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,12
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,12
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,12
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,12

In [22]:
#axis = 1 is referencing the headers
data_df['month2'] = data_df.apply(lambda x : x['AirDate'].month, axis=1)
data_df.head()

,ShowNumber,AirDate,Round,Category,Value,Question,Answer,month,month2
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus,12,12
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe,12,12
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona,12,12
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's,12,12
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams,12,12

In [23]:
#filters aside from boolindex and npwhere
value_list = data_df['Value'].tolist()
value_list = value_list[0:50]
value_list

['$200 ',
 '$200 ',
 '$200 ',
 '$200 ',
 '$200 ',
 '$200 ',
 '$400 ',
 '$400 ',
 '$400 ',
 '$400 ',
 '$400 ',
 '$400 ',
 '$600 ',
 '$600 ',
 '$600 ',
 '$600 ',
 '$600 ',
 '$600 ',
 '$800 ',
 '$800 ',
 '$800 ',
 '$800 ',
 '$2,000 ',
 '$800 ',
 '$1,000 ',
 '$1,000 ',
 '$1,000 ',
 '$1,000 ',
 '$1,000 ',
 '$400 ',
 '$400 ',
 '$400 ',
 '$400 ',
 '$400 ',
 '$400 ',
 '$800 ',
 '$800 ',
 '$800 ',
 '$800 ',
 '$800 ',
 '$1,200 ',
 '$2,000 ',
 '$1,200 ',
 '$1,200 ',
 '$1,200 ',
 '$1,600 ',
 '$1,600 ',
 '$1,600 ',
 '$1,600 ',
 '$1,600 ']

In [24]:
#we want to work with this data but we want to preserve the original values
filtered_list = list(filter(lambda num: int(num.replace("$","")
                                            .replace(" ","")
                                            .replace(",",""))>400, value_list))
filtered_list

['$600 ',
 '$600 ',
 '$600 ',
 '$600 ',
 '$600 ',
 '$600 ',
 '$800 ',
 '$800 ',
 '$800 ',
 '$800 ',
 '$2,000 ',
 '$800 ',
 '$1,000 ',
 '$1,000 ',
 '$1,000 ',
 '$1,000 ',
 '$1,000 ',
 '$800 ',
 '$800 ',
 '$800 ',
 '$800 ',
 '$800 ',
 '$1,200 ',
 '$2,000 ',
 '$1,200 ',
 '$1,200 ',
 '$1,200 ',
 '$1,600 ',
 '$1,600 ',
 '$1,600 ',
 '$1,600 ',
 '$1,600 ']